spring:
  application:
    name: fidelicrmbackend
  docker:
    compose:
      enabled: true
      file: docker-compose.yml
      lifecycle-management: start-only
  datasource:
    url: jdbc:postgresql://localhost:5432/fidelicrm
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
